@using AgendaMedicaMvc.Models.Enums;
@model AgendaMedicaMvc.Models.ViewModels.AgendaViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Agenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Agenda.Id" />
            <div class="form-group">
                <label asp-for="Agenda.Date" class="control-label"></label>
                <input asp-for="Agenda.Date" class="form-control" />
                <span asp-validation-for="Agenda.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Medico" class="control-label"></label>
                <select asp-for="Agenda.MedicoId" asp-items="@(new SelectList(Model.Medicos,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Paciente" class="control-label"></label>
                <select asp-for="Agenda.PacienteId" asp-items="@(new SelectList(Model.Pacientes,"Id","Name"))" class="form-control"></select>
            </div>
            <div>
                <label asp-for="Agenda.StatusDaAgenda" class="control-label"></label>
                <select asp-for="Agenda.StatusDaAgenda" class="form-control">
                    <option value="@StatusDaAgenda.AgendaConfirmada">Agenda Confirmada</option>
                    <option value="@StatusDaAgenda.AgendaCancelada">Agenda Cancelada</option>
                    <option value="@StatusDaAgenda.AgendaConcluida">Agenda Concluida</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
